section#whyShouldUse{
    width: 100vw;
    height: auto;

    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
        font-size: map-get($font-sizes, extra-large);
        font-weight: map-get($font-weights, bold);

        text-transform: uppercase;

        color: $text-color-medium;
    }

    .container-box {
        width: 90%;
        height: auto;


        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "box01"
        "box02";

        .box {
            min-height: 20rem;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            margin-top: $margin-containers-inside;

            h3 {
                font-size: map-get($font-sizes, large);
                font-weight: map-get($font-weights, medium);

                padding: .5rem 1rem;

                color: $text-color-medium;
            }

            .line {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                padding: .5rem 1rem;
    
                svg {
                    width: 4rem;
                    height: 4rem;
                }
    
                path[stroke*="black"] {
                    stroke: $btn-color-medium-green;
                }
    
                span {
                    font-size: map-get($font-sizes, normal);
                    font-weight: map-get($font-weights, medium);
    
                    color: $btn-color-medium-green;
                }
            }
        }

        .safety {
            grid-area: box01;
        }

        .connectivity{
            grid-area: box02;
        }

    }

    @media (min-width: 750px) {
        .container-box {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: "box01 box02";
        }

        .connectivity {
            margin-left: $margin-containers-inside
        }
    }
}

