/* ALL CONFIGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

:root {
  font-size: 62.5%;
}

/* COLORS */
/* GREEN-200 */
/* GRAY-100 */
/* GRAY-500 */
/* GRAY-800 */
/* FONT SIZE */
/* MARGINs AND PADDINGS */
/* NAVIGATION */
/* NAVIGATION */
.navbar {
  background-color: #198557;
  height: 6.5rem;
  width: 100vw;
}

nav div ul.navbar-nav {
  margin-top: 4rem;
  gap: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav div ul li a.nav-link {
  font-size: 2.6rem;
  font-weight: 700;
  color: #f3f4f6;
}

nav ul li:last-child {
  margin-block: 3.8rem;
}

nav ul li:nth-child(1) {
  display: none;
}

.icon-menu {
  border: none;
}

.icon-menu svg {
  height: 4.2rem;
  width: 4.2rem;
}

.icon-menu svg.icon-close {
  height: 3.5rem;
  width: 3.5rem;
  margin-left: 0.4rem;
}

.icon-menu > img {
  width: 4.5rem;
  height: 4.5rem;
  padding-right: 1.5rem;
}

#offcanvasScrolling {
  width: 100vw;
  background-color: #57a78f;
  opacity: 1;
  overflow: scroll;
}

.offcanvas-header {
  min-height: 6.5rem;
  background-color: #198557;
}

@media (min-width: 992px) {
  .navbar {
    height: initial;
    width: initial;
  }
  nav div ul.navbar-nav,
nav div ul li,
nav div ul li a {
    height: initial;
    width: initial;
    font-size: initial;
    font-weight: initial;
    margin: initial;
    padding: initial;
    overflow: initial;
    gap: initial;
  }
  #offcanvasScrolling {
    overflow: initial;
  }
  /* NAVIGATION */
  .navbar {
    max-width: 100vw;
    height: 9rem;
  }
  nav div ul.navbar-nav {
    max-height: 9rem;
    gap: 9rem;
    padding-inline: 4.7rem;
  }
  nav div ul li:not(:first-child) {
    width: 15rem;
    height: 3.8rem;
    border-radius: 2rem;
    text-align: center;
  }
  nav ul li:nth-child(1) {
    display: block;
  }
  nav ul li a img {
    width: 5rem;
    height: 5rem;
  }
  nav div ul li a.nav-link {
    font-size: 2rem;
    font-weight: 400;
    border-radius: 2rem;
  }
  /* NAVIGATION HOVER */
  nav div ul li:not(:first-child) a.nav-link:hover {
    transition: 0.5s;
    border-radius: 2rem;
    background-color: rgb(17, 156, 115);
    color: rgb(141, 185, 166);
    font-weight: 600;
    text-align: center;
    transition: 0.4s;
  }
}
/* SLIDER */
.carousel {
  display: none;
}

.content-text {
  position: absolute;
  right: 15%;
  bottom: 5%;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #f3f4f6;
  text-align: center;
}

.carousel-inner {
  max-width: 100vw;
  max-height: 100vh;
}

.carousel-item img {
  max-width: 100%;
  max-height: 80vh;
  background-size: cover;
  background-position: center;
}
.carousel-item h1 {
  font-size: 2.8rem;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 1.5rem;
}
.carousel-item p {
  padding-bottom: 1rem;
  font-size: 2rem;
}
.carousel-item a {
  background-color: rgba(0, 0, 0, 0.15);
  text-decoration: none;
  border-radius: 1rem;
  border: none;
  outline: none;
  font-size: 2.8rem;
  margin-bottom: 2rem;
  padding-inline: 1.5rem;
  color: #f3f4f6;
  transition: 0.5s;
}
.carousel-item a:hover {
  color: #bbf7d0;
  outline: none;
  border: none;
  border-bottom: 2px solid #bbf7d0;
}

@media (min-width: 992px) {
  /* MOBILE SLIDER */
  .carousel {
    display: block;
  }
}
/* CARDS */
section#ourProducts {
  margin-top: 4rem;
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
section#ourProducts h1 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #6b7280;
  padding: 0 1rem;
  margin-bottom: 4rem;
}
section#ourProducts .products {
  grid-template-columns: 1fr;
  grid-template-rows: 5fr 4fr;
  grid-template-areas: "box01" "box02";
}
section#ourProducts .resources {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: "box01" "box02";
}
section#ourProducts .container-box {
  width: 95vw;
  height: 80rem;
  display: grid;
}
section#ourProducts .container-box .box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
section#ourProducts .container-box .box .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section#ourProducts .container-box .box .content h2 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #6b7280;
  padding: 0.5rem;
}
section#ourProducts .container-box .box .content p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #1f2937;
  padding: 0 1rem;
}
section#ourProducts .container-box .box .content a {
  display: none;
}
section#ourProducts .container-box .box01 {
  grid-area: box01;
}
section#ourProducts .container-box .box01 img {
  width: 100%;
  height: 100%;
}
section#ourProducts .container-box .box02 {
  grid-area: box02;
}
@media (min-width: 600px) {
  section#ourProducts .container-box {
    height: 50rem;
  }
}
@media (min-width: 750px) {
  section#ourProducts section#ourProducts h1 {
    font-size: 2.8rem;
  }
  section#ourProducts .products {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: "box01 box02";
  }
  section#ourProducts .resources {
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "box02 box01";
  }
  section#ourProducts .container-box {
    width: 90vw;
    margin-bottom: 3rem;
  }
  section#ourProducts .container-box .box .content p {
    padding: 0rem 5rem;
  }
  section#ourProducts .container-box .box .content a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 20rem;
    height: 4rem;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 1rem;
    background-color: #d1d5db;
    color: #6b7280;
    transition: 0.5s ease;
  }
  section#ourProducts .container-box .box .content a:hover {
    background-color: transparent;
    border: 1px solid #d1d5db;
    font-weight: 700;
    overflow: hidden;
  }
}

/* WHYSHOLDUSE */
/*section#whyShouldUse {
    margin-top: $margin-section;

    width: 100vw;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

   h1 {
        font-size: map-get($font-sizes, large);
        font-weight: map-get($font-weights, bold);

        text-transform: uppercase;
        text-align: center;

        color: $text-color-medium;

        padding: 0 1rem;
    } 

    .container-box {
        width: 90%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .box {
        height: 20rem;
        display: flex;
        justify-content: center;
        flex-direction: column;

         h3 {
            font-size: map-get($font-sizes, normal);
            font-weight: map-get($font-weights, bold);

            text-align: center;
            text-transform: uppercase;


            color: $text-color-strong-green;
            padding: 0 1rem;
        } 

        .line {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            padding: .5rem 1rem;

            svg {
                width: 4rem;
                height: 4rem;
            }

            path[stroke*="black"] {
                stroke: $btn-color-medium-green;
            }

            span {
                font-size: map-get($font-sizes, normal);
                font-weight: map-get($font-weights, medium);

                color: $btn-color-medium-green;
            }
        }
    }
}*/
section#whyShouldUse {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
section#whyShouldUse .container-box {
  width: 90%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "box01" "box02";
}
section#whyShouldUse .container-box .box {
  height: 50rem;
  margin-top: 3rem;
}
section#whyShouldUse .container-box .box01 {
  grid-area: box01;
  background-color: orange;
}
section#whyShouldUse .container-box .box02 {
  grid-area: box02;
  background-color: yellow;
}
@media (min-width: 750px) {
  section#whyShouldUse .container-box {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "box01 box02";
  }
  section#whyShouldUse .box02 {
    margin-left: 3rem;
  }
}

/* FOOTER */
footer {
  background-color: #198557;
}

footer h5 {
  font-size: 2.5rem;
  font-weight: 600;
}

footer #whoWeAre p,
footer ul li a {
  font-size: 1.8rem;
}

footer .text-center {
  font-size: 2rem;
}

/*# sourceMappingURL=style.css.map */
