$primary-color: blue;
$secundary-color: #57a78f;
$hover-color: rgb(17, 156, 115);
$hover-color-text: rgb(141, 185, 166);

$btn-color-light: #d9f99d;
$btn-color-medium: #d1d5db;

$btn-color-medium-green: #16a34a;

$hover-color-light: #bbf7d0; /* GREEN-200 */

$text-color-strong-green: #4d7c0f;

$text-color-light: #f3f4f6;  /* GRAY-100 */
$text-color-medium: #6b7280; /* GRAY-500 */
$text-color-strong: #1f2937; /* GRAY-800 */