.data-error > p{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding-block: .8rem;    
}

.message.warning {
color: var(--primary-color);
}

.message.error {
color: red;
}

.message.success {
color: lightblue;
}