section#login {
    width: 100vw;
    min-height: 100vh;

    background-color: $primary-color;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .content {
        width: 80%;
        height: 90%;

        background-color: white;

        display: flex;
        align-items: center;
        flex-direction: column;

        border-radius: 1rem;

        header {
            width: 100%;
            height: auto;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            margin-top: $margin-containers-inside;

            h1 {
                font-size: map-get($font-sizes, large);
                font-weight: map-get($font-weights, bold);

                padding: 1.2rem .4rem;

                text-transform: uppercase;

                color: $text-color-medium;
            }
        }

        form {
            width: 100%;
            height: auto;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            margin-top: $margin-containers-inside;

            .line {
                width: 90%;
                height: auto;

                display: flex;
                justify-content: center;
                flex-direction: column;

                label {
                    font-size: map-get($font-sizes, large);
                    font-weight: map-get($font-weights, bold);
                    padding-block: .8rem;
                }

                input {
                    height: 3.2rem;
                    border: none;
                    outline: none;

                    border-bottom: 1px solid black;

                    color: $text-color-medium;

                    padding: .4rem;

                    font-size: map-get($font-sizes, normal);
                }
            }

            button {
                width: 75%;
                height: 4rem;
    
                outline: none;
                border: none;
                border-radius: 1rem;
    
                font-size: map-get($font-sizes, large);
                font-weight: map-get($font-weights, bold);

                text-transform: uppercase;
    
                margin-top: 2rem;
    
                background-color: $btn-color-medium;
                color: $text-color-medium;
    
                transition: .5s ease;
            }

            .data-error {
                width: 50%;
                height: auto;

                display: flex;
                justify-content: center;
                align-items: center;

                margin-block: 1.2rem;

                p {
                    font-size: map-get($font-sizes, small);
                    font-weight: map-get($font-weights, bold);
                    color: red;
                }
            }

            .not-acount {
                width: 90%;
                height: auto;

                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    font-size: map-get($font-sizes, normal);
                    font-weight: map-get($font-weights, medium);

                    color: $text-color-strong-green;
                }

                a {
                    text-decoration: none;
                    color: $text-color-strong-green;

                    transition: .5s ease;
                }
            }
        }
    }
}

@media(min-width: 750px) {
    section#login {
        .content {
            width: 75%;
            height: 60%;

            form {
                .line {
                    width: 75%;
                }

                button {
                    width: 30%;
                }

                .data-error {
                    p {
                        font-size: map-get($font-sizes, normal);
                    }
                }
            }
        }
    }    
}

@media(min-width: 992px) {
    section#login {
        width: 100vw;

        .content {
            width: 40%;
            height: 75%;

        form {
            .line {
                width: 75%;
            }
            button {
                width: 30%;
                &:hover {
                    background-color: transparent;
                    border: 1px solid $text-color-medium;
                    border-radius: 1rem;
                }
            }

            .not-acount {
                padding: 2rem;

                a {

                    &:hover {
                        color: $text-color-medium;
                        font-weight: map-get($font-weights, bold);
                    }
                }
            }
        }
        }
    }
}

.message.warning {
    color: var(--primary-color);
    }
    
    .message.error {
    color: red;
    }
    
    .message.success {
    color: lightblue;
    }